{% extends "baseform.html" %} {% block content %}
<!-- Main Content -->
<div class="main" style="background-image: url('https://image.shutterstock.com/image-photo/doctor-white-coat-stethoscope-holding-600w-173284577.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="main-w3l">
        <h1 class="logo-w3">Kiểm tra thông tin lịch hẹn</h1>

        <div class="w3layouts-main">
            <!--  -->
            <div>
                <label for="">Họ và Tên</label>
                <p>{{your_name}}</p>
                <br>
                <br>
                <label for="">Tuổi</label>
                <p>{{your_age}}</p>
                <br>
                <br>
                <label for="">Số điện thoại</label>
                <p>{{your_phone}}</p>
                <br>
                <br>
                <label for="">SCMNN/SBHYT</label>
                <p>{{your_idCard}}</p>
                <br>
                <br>
                <label for="">Địa chỉ</label>
                <p>{{your_address}}</p>
                <br>
                <br>
                <label for="">Thành Phố</label>
                <p>{{your_city}}</p>
                <br>
                <br>
                <label for="">Quận/Huyện</label>
                <p>{{your_province}}</p>
                <br>
                <br>
                <label for="">Bệnh viện</label>
                <p>{{your_hostpital}}</p>
                <br>
                <br>
                <label for="">Khung giờ</label>
                <p>{{your_time}} in {{your_date}}</p>
                <br>
                <br>
            </div>
        </div>
        <h1 class="logo-w3">Hồ sơ bệnh án</h1>
        <div class="w3layouts-main1">
            <!--  -->
            <div>
                <label for="">Họ và Tên</label><br>
                <label for="">Tuổi</label><br>
                <label for="">Số điện thoại</label><br>
                <label for="">SCMNN/SBHYT</label><br>
                <label for="">Địa chỉ</label><br>
                <label for="">Quận/Huyện</label><br>
                <label for="">Bệnh viện</label><br>
                <label for="">Khung giờ</label><br>
            </div>
        </div>
        <!-- //main -->

    </div>
</div>
<!-- //Main Content -->
{% endblock content %}